In [38]:
age = 15

In [39]:
age = age + 5

In [40]:
print(age)

20

In [41]:
age = age - 5

In [42]:
print(age)

15

In [44]:
age = age * 2

In [45]:
print(age)

30

In [46]:
age = age / 2

In [47]:
print(age)

15.0

In [52]:
age = 10.5

In [53]:
age = age + 5

In [54]:
print(age)

15.5

In [55]:
a = 5
b = 10

In [56]:
add = a + b
print(add)

15

In [57]:
sub = a - b
print(sub)

-5

In [58]:
mult = a * b
print(mult)

50

In [59]:
divid = a / b
print(divid)

0.5

In [76]:
age = 10

In [77]:
age += 2
print(age)

12

In [78]:
age -= 2 
print(age)

10

In [73]:
age = 10
age *= 2
print(age)

20

In [74]:
age = 10
age /= 2
print(age)

5.0

In [80]:
a = 5
b = 10

# BODMAS
c = a + b / 2 - 2 * 2
print(c)

6.0

In [81]:
c = (a + 2) / (a + 2)

In [82]:
print(c)

1.0

In [85]:
formula = ((6) + (-2) * (2 * 4) / ( 2 / 4)) / 2

In [86]:
print(formula)

-13.0

In [107]:
user1 = "Salman"
user2 = "Ovais"
user3 = "Ahmed"

greeting = "Welcome"
sep = " "
a = 4

In [109]:
print(greeting + sep +  user3 + sep + user2 + a)

Welcome Ahmed Ovais

In [111]:
a = "5"
b  = 2

# STR TO INT
c = int(a) + b

In [114]:
# INT TO STR

age = 21
age = str(age)
print("My Age is " + age)

My Age is 21

In [117]:
iv = 5 
fv = 10


add = a + b
print("The 1st Equation of motion  " + str(add))

The 1st Equation of motion  15